<header class="header">
  <a><img class="logo" src="assets/images/logolisa.png"></a>
  <nav>
      <ul class="menu">
          <li><a href="#">Recomendação</a></li>
          <li><a href="#">Gêneros</a></li>
          <li><a href="#">Favoritos</a></li>
      </ul>
  </nav>
  <nav>
      <ul>
          <li>
              <a href="#">
              <button type="button" class="botaom" data-toggle="modal" data-target="#exampleModal"
                  data-whatever="">Login</button>
              </a>
              <a href="#">
          <button type="button" class="botaom" data-toggle="modal" data-target="#exampleModal"
              data-whatever="">Cadastrar</button>
          </a>
      </ul>
  </nav>
</header>
