#container {
  width: 160;
  height: 260px;
  margin: 5em auto;
  padding: 0;

}

.items {
  max-width: 160px;
  height: 250px;
  border: 4px solid #fff !important;
}

#left, #right {
  margin: 30px;
}
